<div class="product">
    <div class="image">
        <a href="{{ asset(('/uploads/images/sources/' ~ product.image) | imagine_filter('thumb_big')) }}"
            class="fancybox"
            data-fancybox-type="image"
            data-fancybox-title="{{ product.name }}"
        >
            <img src="{{ asset(('/uploads/images/sources/' ~ product.image) | imagine_filter('thumb_small')) }}" />
            <span class="price">
                {{ product.price }} {{ currency_sign }} / {{ product.weight }} {{ weight_sign }}
            </span>
        </a>
    </div>
    <h5>
        <span class="name">
            {{ product.name }}
        </span>
    </h5>
    <a href="#" class="btn btn-default btn-product" data-product-id="{{ product.id }}">{% trans %}Add to cart >{% endtrans %}</a>
</div>