<div class="product">
    <div class="image">
        {% image '@AppBundle/Resources/public/images/product_default.jpg' %}
            <img src="{{ asset(('/uploads/images/sources/' ~ product.image) | imagine_filter('thumb_small')) }}" />
        {% endimage %}
        <span class="price">
            {{ product.price }} {{ currency_sign }} / {{ product.weight }} {{ weight_sign }}
        </span>
    </div>
    <h5>
        <span class="name">
            {{ product.name }}
        </span>
    </h5>
    <a href="#" class="btn btn-default btn-product" data-product-id="{{ product.id }}">Add to cart ></a>
</div>