<div class="row teaser-wrapper">
    <div class="col-lg-6">
        {% image '@AppBundle/Resources/public/images/slide_1.jpg' %}
            <img src="{{ asset_url }}" />
        {% endimage %}
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-6">
                {% image '@AppBundle/Resources/public/images/teaser_1.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="col-lg-6">
                {% image '@AppBundle/Resources/public/images/teaser_2.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {% image '@AppBundle/Resources/public/images/teaser_3.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="col-lg-6">
                {% image '@AppBundle/Resources/public/images/teaser_4.jpg' %}
                    <img src="{{ asset_url }}" />
                {% endimage %}
            </div>
        </div>
    </div>
</div>