{% if addresses|length %}
<ul class="list-unstyled address-list">
    {% for address in addresses %}
    <li>
        <div class="">
            <div class="pull-right lh-40">
                <span>
                    <a href="{{ path('profile_address_edit', {'id': address.id}) }}"><i class="glyphicon glyphicon-pencil black" title="edit"></i></a>
                </span>
                <span>
                    <a href="{{ path('profile_address_remove', {'id': address.id}) }}"><i class="glyphicon glyphicon-remove black" title="remove"></i></a>
                </span>
            </div>
            <p>
                <b>{{ address.title }}:</b>
                {{ address.street }} {{ address.building }} / {{ address.apartment }}
            </p>
        </div>
    </li>
    {% endfor %}
</ul>
{% include 'AppBundle:Misc:pagination.html.twig' with {
    'current_page': page,
    'last_page': last_page,
    'path': 'profile_address'
} only %}
{% else %}
    <p>{% trans %}You don't have any address points yet{% endtrans %}</p>
{% endif %}