{% extends '::base.html.twig' %}

{% block menu %}
    {% include 'AppBundle:Profile:profile_menu.html.twig' %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 border-right">
            <h1>
                {% trans %}Edit address{% endtrans %}
            </h1>
            <div class="errors">
                {{ form_errors(form.title) }}
                {{ form_errors(form.street) }}
                {{ form_errors(form.building) }}
                {{ form_errors(form.porch) }}
                {{ form_errors(form.apartment) }}
                {{ form_errors(form.intercome_code) }}
            </div>
            <form method="post" action="{{ path('profile_address_edit', {'id': address.id}) }}">
                {% include 'AppBundle:Profile:address_form.html.twig' with {'form': form} only %}
            
                {{ form_widget(form._token) }}
                <input type="submit" value="{{ 'form.address.btn_edit'|trans }}" class="btn btn-default btn-large" />
            </form>
        </div>
        <div class="col-lg-6">
            
        </div>
    </div>
{% endblock %}