<ul class="list-unstyled address-list">
    <li>
        <div class="">
            <div class="pull-right lh-40">
                <span>
                    <a href="{{ path('profile_address_edit', {'id': 1}) }}"><i class="glyphicon glyphicon-pencil black" title="edit"></i></a>
                </span>
                <span>
                    <a href="{{ path('profile_address_remove', {'id': 1}) }}"><i class="glyphicon glyphicon-remove black" title="remove"></i></a>
                </span>
            </div>
            <p>Oborigen street. #16, (01225) 1-37</p>
            
        </div>
    </li>
    <li>
        <div class="">
            <div class="pull-right lh-40">
                <span>
                    <a href="{{ path('profile_address_edit', {'id': 1}) }}"><i class="glyphicon glyphicon-pencil black" title="edit"></i></a>
                </span>
                <span>
                    <a href="{{ path('profile_address_remove', {'id': 1}) }}"><i class="glyphicon glyphicon-remove black" title="remove"></i></a>
                </span>
            </div>
            <p>Oborigen street. #16, (01225) 1-37</p>
            
        </div>
    </li>
    <li>
        <div class="">
            <div class="pull-right lh-40">
                <span>
                    <a href="{{ path('profile_address_edit', {'id': 1}) }}"><i class="glyphicon glyphicon-pencil black" title="edit"></i></a>
                </span>
                <span>
                    <a href="{{ path('profile_address_remove', {'id': 1}) }}"><i class="glyphicon glyphicon-remove black" title="remove"></i></a>
                </span>
            </div>
            <p>Oborigen street. #16, (01225) 1-37</p>
            
        </div>
    </li>
</ul>