<ul class="list-inline misc">
    <li>
        <span class="dropdown">
            <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ app.request.locale }}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" class="{% if app.request.locale == 'en' %}active{% endif %}">
                        {% image '@AppBundle/Resources/public/images/flag_en.jpg' %}
                            <img src="{{ asset_url }}" class="flag" />
                        {% endimage %}
                        <span class="lang">English</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="{% if app.request.locale == 'ru' %}active{% endif %}">
                        {% image '@AppBundle/Resources/public/images/flag_ru.jpg' %}
                            <img src="{{ asset_url }}" class="flag" />
                        {% endimage %}
                        <span class="lang">Russian</span>
                    </a>
                </li>
            </ul>
        </span>
    </li>
    <li><a href="#">$</a></li>
    <li>
        <span class="dropdown">
            <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-log-in"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('fos_user_security_login') }}">
                        <span class="glyphicon glyphicon-log-in"></span>
                        Login
                    </a>
                </li>
                <li>
                    <a href="{{ path('fos_user_registration_register') }}">
                        <span class="glyphicon glyphicon-edit"></span>
                        Register
                    </a>
                </li>
            </ul>
        </span>
    </li>
</ul>