<ul class="list-inline misc">
    <li>
        <span class="dropdown">
            <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ app.request.locale }}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('locale_change', {'_locale': 'en'}) }}" class="{% if app.request.locale == 'en' %}active{% endif %}">
                        {% image '@AppBundle/Resources/public/images/flag_en.jpg' %}
                            <img src="{{ asset_url }}" class="flag" />
                        {% endimage %}
                        <span class="lang">
                            {% trans %}English{% endtrans %}
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('locale_change', {'_locale': 'ru'}) }}" class="{% if app.request.locale == 'ru' %}active{% endif %}">
                        {% image '@AppBundle/Resources/public/images/flag_ru.jpg' %}
                            <img src="{{ asset_url }}" class="flag" />
                        {% endimage %}
                        <span class="lang">
                            {% trans %}Russian{% endtrans %}
                        </span>
                    </a>
                </li>
            </ul>
        </span>
    </li>
    <li><a href="#">$</a></li>
    <li>
        <span class="dropdown">
            <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-log-in"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% if app.user %}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            <span class="glyphicon glyphicon-log-out"></span>
                            {% trans %}Logout{% endtrans %}
                        </a>
                    </li>
                {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}">
                        <span class="glyphicon glyphicon-log-in"></span>
                        {% trans %}Login{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ path('fos_user_registration_register') }}">
                        <span class="glyphicon glyphicon-edit"></span>
                        {% trans %}Register{% endtrans %}
                    </a>
                </li>
                {% endif %}
            </ul>
        </span>
    </li>
</ul>