<h4>Delivery address</h4>
<div class="form-group">
    {{ form_label(form.street) }}
    {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.building) }}
    {{ form_widget(form.building, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.porch) }}
    {{ form_widget(form.porch, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.apartment) }}
    {{ form_widget(form.apartment, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.intercome_code) }}
    {{ form_widget(form.intercome_code, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.note) }}
    {{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
</div>