{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/js/event-manager.js'
        '@AppBundle/Resources/public/js/order.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <h1>Your shopping cart:</h1>
    <div class="errors">
        {{ form_errors(form) }}
    </div>
    <form method="post" action="{{ path('order_show') }}">
        <table class="order-table">
            <tbody>
                {% for item in form.items %}
                {% set product = item.product %}
                <tr class="product-line item-row">
                    <td>
                        <div class="hidden">
                            {{ form_widget(product) }}
                        </div>
                        <img src="{{ asset(('/uploads/images/sources/' ~ product.vars.value.image) | imagine_filter('thumb_normal')) }}" />
                    </td>
                    <td class="description">
                        <span class="pull-right"><a href="#" class="item-remove"><i class="glyphicon glyphicon-remove black"></i></a></span>
                        <h5>{{ product.vars.value.name }}</h5>
                        <div class="unit-price">
                            {{ product.vars.value.price }} {{ currency_sign }}
                        </div>
                        <div class="quantity-block">
                            <span>Quantity:</span>
                            {{ form_widget(item.count, {'attr': {'class': 'quantity', 'min': 1}}) }}
                        </div>
                        <span>
                            Total: 
                            <span class="item-total">{{ product.vars.value.price * item.vars.value.count }}</span>
                            {{ currency_sign }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        Subtotal: <b class="pull-right"><span class="sub-total">{{ order.price }}</span>{{ currency_sign }}</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Delivery: <b class="pull-right"><span class="delivery">{{ order.deliveryPrice }}</span>{{ currency_sign }}</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Grand total: <b class="pull-right"><span class="grand-total">{{ order.price + order.deliveryPrice }}</span>{{ currency_sign }}</b>
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="row">
            <div class="col-lg-6">
                {% include 'AppBundle:Order:address.html.twig' with {'form': form.delivery_address} only  %}
            </div>
            <div class="col-lg-6">
                {% include 'AppBundle:Order:profile.html.twig' with {'form': form.user_profile} only  %}
                <div class="form-group">
                    {{ form_label(form.change) }}
                    {{ form_widget(form.change, {'attr': {'class': 'form-control', 'min': 0}}) }}
                </div>
                <input type="submit" value="Submit" class="btn btn-default btn-large" />
            </div>
        </div>
        {{ form_widget(form._token) }}
    </form>
{% endblock %}