{% extends "::base.html.twig" %}

{% block body %}
    Order details:
    <ul>
    {% for item in order.getOrderItems %}
        <li>{{ item.name }} x {{ item.count }}: {{ item.price * item.count }}</li>
    {% endfor %}
    </ul>

    total price: {{ order.price }}

    <div>
        <form action="{{ path('order_submit') }}" method="post">
            {{ form_widget(form) }}
            <input type="submit" value="Submit order" />
        </form>
    </div>
{% endblock %}