Order details:
<ul>
{% for item in order.getOrderItems %}
    <li>{{ item.name }} x {{ item.count }}: {{ item.price * item.count }}</li>
{% endfor %}
</ul>

total price: {{ order.price }}

<div>
    {{ form_widget(form) }}
</div>