{% extends "::base.html.twig" %}

{% block body %}
    <h1>Your shopping cart:</h1>
    <table class="order-table">
        <tbody>
            {% for item in cart.getItems %}
            {% set product = item.getProduct %}
            <tr class="product-line">
                <td>
                    <img src="{{ asset(('/uploads/images/sources/' ~ product.image) | imagine_filter('thumb_normal')) }}" />
                </td>
                <td class="description">
                    <h5>{{ product.name }}</h5>
                    <div class="unit-price">
                        {{ product.price }} $
                    </div>
                    <div class="quantity-block" id="quantity">
                        <span>Quantity:</span>
                        <input type="number" value="{{ item.getCount }}" class="quantity" />
                    </div>
                    <span>Total: {{ product.price * item.getCount }}$</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Sub total: 500$</td>
                <td></td>
            </tr>
            <tr>
                <td>Delivery: 0</td>
                <td></td>
            </tr>
            <tr>
                <td>Grand total: 500$</td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <div>
        {% include 'AppBundle::order_requisites.html.twig' %}
    </div>
{% endblock %}