{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/js/event-manager.js'
        '@AppBundle/Resources/public/js/order.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <h1>Your shopping cart:</h1>
    <div class="errors">
        {{ form_errors(cartForm) }}
    </div>
    <form method="post" action="{{ path('order_show') }}">
        <table class="order-table">
            <tbody>
                {% for item in cartForm.items %}
                {% set product = item.product %}
                <tr class="product-line item-row">
                    <td>
                        <div class="hidden">
                            {{ form_widget(product) }}
                        </div>
                        <img src="{{ asset(('/uploads/images/sources/' ~ product.vars.value.image) | imagine_filter('thumb_normal')) }}" />
                    </td>
                    <td class="description">
                        <span class="pull-right"><a href="#" class="item-remove"><i class="glyphicon glyphicon-remove black"></i></a></span>
                        <h5>{{ product.vars.value.name }}</h5>
                        <div class="unit-price">
                            {{ product.vars.value.price }} $
                        </div>
                        <div class="quantity-block">
                            <span>Quantity:</span>
                            {{ form_widget(item.count, {'attr': {'class': 'quantity', 'min': 1}}) }}
                        </div>
                        <span>
                            Total: 
                            <span class="item-total">{{ product.vars.value.price * item.vars.value.count }}</span>
                            $
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {#
                <tr>
                    <td>{{ form_label(form.price) }}: <span class="sub-total">{{ form.vars.value.price }}</span>$</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ form_label(form.delivery_price) }}: <span class="delivery">{{ form.vars.value.deliveryPrice }}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Grand total: <span class="grand-total">{{ form.vars.value.price + form.vars.value.deliveryPrice }}</span>$</td>
                    <td></td>
                </tr>
                #}
            </tfoot>
        </table>

        <div class="row">
            <div class="col-lg-6">
                {% include 'AppBundle:Order:address.html.twig' with {'form': addressForm} only  %}
            </div>
            <div class="col-lg-6">
                {% include 'AppBundle:Order:profile.html.twig' with {'form': profileForm} only  %}
                <input type="submit" value="Submit" class="btn btn-default btn-large" />
            </div>
        </div>
        {{ form_widget(cartForm._token) }}
    </form>
{% endblock %}